__pycache__/encoding.cpython-38.pyc
__pycache__/getGeneticNextPage.cpython-38.pyc
__pycache__/stringConvert.cpython-38.pyc
novel_temp.txt
response.log
novel.spec
__pycache__/novel.cpython-38.pyc
build/novel/Analysis-00.toc
build/novel/base_library.zip
build/novel/EXE-00.toc
build/novel/novel.exe.manifest
build/novel/PKG-00.pkg
build/novel/PKG-00.toc
build/novel/PYZ-00.pyz
build/novel/PYZ-00.toc
build/novel/Tree-00.toc
build/novel/Tree-01.toc
build/novel/warn-novel.txt
build/novel/xref-novel.html
